.btn {
  padding: 6px 0 6px 0;
  font-weight: bold;
  color: tomato;
  background-color: rgb(255, 255, 255);
  outline-style: none;
  border: solid 1px tomato;
  font-size: 12px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  border: solid 1px tomato;
  background-color: tomato;
  color: white;
}
.rmBtn {
  padding: 6px 0 6px 0;
  font-weight: bold;
  color: rgb(1, 1, 61);
  background-color: white;
  outline-style: none;
  border: solid 1px rgb(1, 1, 61);
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.rmBtn:hover {
  border: solid 1px rgb(1, 1, 61);
  background-color: rgb(1, 1, 61);
  color: white;
}
